@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&display=swap");

/* Global variables */
:root {
  --color1: #8d9b8e;
  --color2: #b9ada3;
  --cyan: #39d2c6;
  --dark-cyan: #28b1a6;
  --red: #F43753;
  --dark-red: #C70030;
  --white: #e5e5e5;
  --black: #1c1c1c;
  --headerHeight: 7.5rem;
  --sidebarWidth: 16%;
  --sidebarWidthRestant: 84%;
  --border_radius: 0.8rem;
  --background: #f5f5f5;
}

/* Base styles for HTML */
html {
  font-size: 62.5%; /* Set base font size to 10px */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Fira Code", serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

/* Inherit box-sizing for all elements */
*,
*:before,
*:after {
  box-sizing: inherit;
}

/* Headings styling */
h1,
h2,
h3 {
  font-weight: 700;
}

/* Body default styles */
body {
  font-size: 1.4rem;
  background-color: var(--background);
}

/* Header section */
.header {
  background-color: var(--color1);
  display: flex;
  color: white;
  border-bottom: 2px solid var(--black);
  padding: 0.2rem;
  align-items: center;
  justify-content: space-between;
  height: var(---headerHeight);
  max-height: var(---headerHeight);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.brand {
  display: flex;
  text-decoration: none;
  color: var(--white);
}

.brand-title {
  text-shadow: 2px 1px 0 var(--black);
}

/* Main content container */
main {
  display: flex;
  margin: 0 5rem;
  min-height: 80vh;
}

.brand-image {
  width: 5rem;
}

/* Button styles */
.button {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  border: 2px solid var(--black);
  width: fit-content;
  height: fit-content;
  max-height: 3.4rem;
  background-color: var(--color2);
  color: black;
  font-size: 1.5rem;
  text-align: center;
  border-radius: var(--border_radius);
}

.button:hover {
  background-color: var(--cyan);
  cursor: pointer;
}

/* Abstract button variant */
.button-abstract {
  color: var(--white);
  border: 1px solid var(--black);
  background-color: var(--color2);
  color: black;
  font-size: 1.5rem;
  padding: 0.4rem;
}

.button-abstract:hover {
  background-color: var(--cyan);
  cursor: pointer;
}

/* Cyan-themed styles */
.cyan {
  background-color: var(--cyan);
  color: black;
}

.cyan:hover {
  background-color: var(--dark-cyan);
}

.red {
  background-color: var(--red);
  color: black;
}

.red:hover {
  background-color: var(--dark-red);
}

.text-cyan {
  color: var(--cyan);
}

/* Card section style */
.target {
  text-decoration: none;
  font-weight: 300;
  padding: 1rem;
  border: 2px solid var(--black);
  width: fit-content;
  background-color: var(--white);
  color: black;
  font-size: 1.5rem;
  border-radius: var(--border_radius);

  -webkit-box-shadow: 10px 10px 0px 0px rgba(50, 47, 46, 1);
  -moz-box-shadow: 10px 10px 0px 0px rgba(50, 47, 46, 1);
  box-shadow: 10px 10px 0px 0px rgba(50, 47, 46, 1);
}

.target-noshadow {
  text-decoration: none;
  font-weight: 300;
  padding: 1rem;
  border: 2px solid var(--black);
  width: fit-content;
  background-color: var(--white);
  color: black;
  font-size: 1.5rem;
  border-radius: var(--border_radius);
}

/* Dot button style */
.dot-button {
  color: var(--white);
  text-decoration: none;
  font-weight: 600;
  padding: 0.5rem 1.2rem;
  width: fit-content;
  display: flex;
  gap: 1rem;
  color: black;
  font-size: 1.5rem;
}

.dot-button:hover {
  cursor: pointer;
}

.dot i {
  color: var(--color1);
  text-shadow:
    -2px 0 black,
    0 2px black,
    2px 0 black,
    0 -2px black;
}

.dot-hover > i {
  color: var(--cyan);
}

/* Footer section */
.footer {
  border-bottom: 0;
  border-top: 2px solid var(--black);
}

/* Form styles */
.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  gap: 0.3rem;
  width: max-content;
  min-width: 34rem;
  max-width: 34rem;
}

.form input,
.form textarea {
  background-color: var(--color1);
  color: white;
  padding: 0.7rem;
  border: 1px solid var(--black);
  width: 100%;
  border-radius: var(--border_radius);
}

.form label {
  margin-top: 0.5rem;
}

.form button[type="submit"] {
  margin-top: 0.4rem;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container-align-left {
  justify-content: start;
  align-items: start;
}

.container-between {
  justify-content: space-between;
}

.container_buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.flex-col {
  flex-direction: column;
}

.m-t-3 {
  margin-top: 3rem;
}

.container-float {
  margin-top: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  margin: 0;

  display: grid;
  place-items: center;
  background-color: rgba(0 0 0 / 0.5);
}

.popup > .target {
  max-width: 37rem;
}

/* Error section */
.error-section {
  background-color: var(--white);
  width: max-content;
  min-width: 34rem;
  max-width: 34rem;
  display: flex;
  align-items: center;
  gap: 1rem;
}

#passwordInput {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.section {
  max-width: 40rem;
}

.bold {
  font-weight: 700;
}

.light {
  font-weight: 100;
}

.main-content {
  display: flex;
  flex-direction: column;
}

/* Table container */
.table-container {
  width: 100rem;
  max-width: 220rem;
  margin: 2rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.table-title {
  font-size: 1.8rem;
  color: var(--dark-cyan);
  font-weight: bold;
  margin-bottom: 1.5rem;
}

.data-table {
  border: 1px solid var(--black);
  width: 100%;
  border-collapse: collapse;
  background-color: white;
  overflow: auto;
}

.table-scroll {
  overflow-y: auto;
}

.data-table th {
  background-color: var(--color1);
  color: white;
  padding: 12px;
  text-align: left;
}

.data-table td {
  padding: 12px;
  color: #34495e;
}

.data-table tr:hover {
  background-color: #f8f9fa;
}

.table-scroll-wrapper {
  max-height: 50px; /* Maximum height for table body */
  overflow-y: auto; /* Enable vertical scrolling */
  display: block; /* Ensure wrapper is a block element */
}

/* Pagination container */
.pagination-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
  padding: 1rem;
  background-color: var(--color1);
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Pagination links */
.pagination-links {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.dot-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dot {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: var(--white);
  color: var(--black);
  font-weight: 600;
  font-size: 1.4rem;
  text-decoration: none;
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.dot:hover {
  background-color: var(--cyan);
  color: var(--black);
}

.cyan {
  background-color: var(--cyan);
  color: var(--black);
}

.cyan:hover {
  background-color: var(--dark-cyan);
}

/* User icon */
.user-icon {
  max-width: 20rem;
  border: 1px solid var(--black);
  padding: 1rem;
}

/* Square container */
.container-square {
  align-items: center;
  justify-content: center;
  min-height: 40vh;
}

.mtop {
  margin-top: 5rem;
}

/*File manager section*/
.main-container {
  display: flex;
  justify-content: space-between;
}

.file_asidebar {
  background-color: var(--white);
  margin-top: var(--headerHeight);
  font-size: 1.4rem;
}

@media (min-width: 1200px) {
  .file_asidebar {
    border-right: 2px solid var(--black);
    padding: 2rem;
    width: var(--sidebarWidth);
    min-width: 1.8rem;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;

    font-size: 1.6rem;
  }
}

@media (min-width: 1600px) {
  .file_asidebar {
    font-size: 1.8rem;
  }
}

.file_iconUser {
  display: flex;
  align-items: center;
  gap: 1rem;
  border: 1px solid var(---black);
}

.file_iconUser > p {
}

.file_iconUser img {
  max-width: 3rem;
  max-height: 3rem;
  border: 1px solid var(--black);
  border-radius: 0.5rem;
}

.file_separator {
  padding-bottom: 1rem;
  border-bottom: 1px solid var(--black);
}

.file_asidebar_section a,
.file_asidebar_section button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: black;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.file_asidebar_section a:hover,
.file_asidebar_section button:hover {
  font-weight: 700;
  border-bottom: 1px solid var(--black);
  transition: font-weight 0.3s;
  cursor: pointer;
}

.file_asidebar_section_red a,
.file_asidebar_section_red button {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-decoration: none;
  color: red;
}

.file_asidebar_section_red a:hover,
.file_asidebar_section_red button:hover {
  font-weight: 700;
  border-bottom: 1px solid red;
  transition: font-weight 0.3s;
  cursor: pointer;
}

.file_main_content {
  width: 100%;
  overflow-y: auto;
  max-height: 100vh;
}

.rfile_main_content {
  width: 100%;
}

.file_main_route {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  padding: 0 1rem;
}
.file_main_route p {
  font-weight: 600;
}

.file_folder_container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  margin-top: 2rem;
  gap: 3rem;
}

@media (min-width: 768px) {
  .file_folder_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 1200px) {
  .file_folder_container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1600px) {
  .file_folder_container {
    grid-template-columns: repeat(4, 1fr);
  }
}

.file_folder {
  display: flex;
  gap: 1rem;
  max-width: 30rem;
  width: 30rem;
  overflow: hidden;
}

.file_folder_icon img {
  width: 10rem;
  height: 10rem;
  max-height: 10rem;
  max-width: 10rem;

  border: 1px solid var(---black);
}

.file_folder_content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.file_folder_title {
  color: black;
  text-decoration: none;
}

.file_folder_title:hover {
  color: var(--dark-cyan);
}

/*Popup*/
.modal .target {
  min-width: 40rem;
  max-width: 40rem;
}

.hidden {
  display: none;
}

.button-none {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
}

.wmax {
  width: 100%;
}

.w50 {
  width: 50rem;
  max-width: 50rem;
}

.wcustomfit {
  width: 38rem;
  max-width: 38rem;
}

.wmax25 {
  max-width: 25rem;
}

main {
  margin-top: var(--headerHeight);
}

.file_container {
}

@media (min-width: 900px) {
  .file_container {
    margin-top: 9rem;
    /*display:flex;*/
    /*flex-direction: column;*/
    /*align-items: center;*/
    margin-left: var(--sidebarWidth);
    width: var(--sidebarWidthRestant);
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

/*file read section*/
.rfile_container {
  width: 98%;
  border: 2px solid black;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.rfile_data {
  border-bottom: 2px solid black;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
}

.rfile_content_container {
  width: 100%;
  height: 100%;
}

.rfile_multimedia_container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.rfile_multimedia {
  margin: 0 auto;
  max-width: 100%;
  max-height: 60vh;
}

.rfile_content {
  margin: 0;
  padding: 0;
}
.rfile_data p {
  margin: 0;
}

.rfile_content {
  overflow-y: auto;
  margin: 0;
  padding: 0;
}
