<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title></title>
    <link href="css/style.css" rel="stylesheet" />
  </head>
  <body>
    <header
      class="header"
      xmlns:th="http://www.thymeleaf.org"
      th:fragment="headerFragment"
    >
      <a class="brand" th:href="@{/}">
        <picture>
          <source th:srcset="@{/images/cloud.webp}" type="image/webp" />
          <img
            class="brand-image"
            th:src="@{/images/cloud.png}"
            alt="Simply cloud brand logo"
          />
        </picture>
        <h1 class="brand-title" th:text="${title}"></h1>
      </a>
      <div th:if="${auth}">
          <a class="button" th:href="@{/logout}">Logout</a>
      </div>
      <div th:unless="${auth}">
        <div th:unless="${request.requestURI.equals('/login')}">
          <a class="button" th:href="@{/login}">Log in</a>
        </div>
      </div>
    </header>
  </body>
</html>
